@{

}

@section Css{


    <link href="~/Content/Css/CreatePage.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/simditor.css" />
}
<div class="CreatePage">
    <div class="Titles">
        <div class="input-group TitleGroup">
            <span class="input-group-addon TitleText">标题：</span>
            <input id="ArticleTitle" class="TitleInput" type="text" placeholder="来，取个响亮的标题！" value="@ViewBag.Article.ArticleTitle" />
        </div>
        <div class="input-group PlateGroup">
            <span class="input-group-addon PlateText">板块&分类：</span>
            <select id="ArticleType" class="form-control PlateSelect"></select>
        </div>
    </div>
    <div style="clear:both"></div>
    <textarea id="editor" placeholder="这里输入内容" autofocus>
        @ViewBag.ArticleContent
    </textarea>

    <div class="Attribute">
        <div class="input-group TagGroup">
            <span class="input-group-addon TagText">标签：</span>
            <input id="ArticTypeTags" class="TagInput" type="text" placeholder="在此输入标签，半角逗号（,）相隔" value="@ViewBag.Article.ArticleTags" />
        </div>
    </div>
    <div class="Attachment">
        <form id="AjaxUploadForm" enctype='multipart/form-data'>
            <input type="file" style="visibility:hidden;height:0px;" name="AttachmentFile" id="input_SelectFile" onchange="UpLoadFileChange(this)" />
        </form>
        <fieldset>
            <legend>
                <span>附件列表</span><span class="UpLoadTip">(多个附件建议压缩打包后上传)</span><code id="btn_SelectFile" class="btn btn-danger pull-right AddBtn">增加</code>
            </legend>
            <div id="AttachmentList" class="AttachmentList">
            </div>
        </fieldset>
    </div>

    <div class="SubBtn">
        <div class="Link">
            <span id="DraftStatus"></span>
        </div>
        <div class="Sub">
            <button id="btn_Save" class="btn btn-info">保存</button>
            @if (ViewBag.Article.Publish == 0)
            {
                <button id="btn_Publish" class="btn btn-success">立即发布</button>
            }
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Content/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/module.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/hotkeys.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/uploader.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/simditor.js"></script>
    <script>
        var GUID = '@ViewBag.Article.GUID';
        var articPlate = '@ViewBag.Article.ArticlePlate';
        var articType = '@ViewBag.Article.ArticleType';
        var DraftStatus = document.getElementById("DraftStatus");

        //------------Simditor---------------
        var toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'];



        var editor = new Simditor({
            toolbar: toolbar,
            textarea: $('#editor'),
            defaultImage: '/Content/images/image.png', //编辑器插入图片时使用的默认图片
            upload: {
                url: '/UpLoad/SimditorImges', //文件上传的接口地址
                params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                fileKey: 'ImageFileName', //服务器端获取文件数据的参数名
                connectionCount: 1,
                leaveConfirm: '正在上传文件'
            },
            pasteImage: true
        });
        // editor.setValue();
        layer.config({
            extend: 'extend/layer.ext.js'
        });

        $.post("/Article/GetAttachments", { AttachmentGuids: "@ViewBag.Article.ArticleAttachments" }, function (d, s, x) {
            if (s == "success") {
                var jd = JSON.parse(d);
                for (var i = 0; i < jd.length; i++) {
                    var item = jd[i];
                    var node = document.createElement("div");
                    node.className = "Attachment";
                    node.innerHTML = "<span class='SP_id'>" + item.GUID + "</span><span class='SP_iconfont'><i class='iconfont'>" + item.FileFontCode + "</i></span><span class='SP_fileName'><a href='/DownLoad/Attachment/" + item.GUID + "'  target='_blank'>" + item.FileName + "</a></span><span class='SP_fileType'>" + item.FileType + "</span><span class='SP_fileLength'>" + item.FileLength + "</span><span class='SP_DeleteBtn btn btn-link' onclick='btn_DeleteAttachment(this);'>删除</span>";
                    $("#AttachmentList").append(node);
                }
            }
        });

        $.post("/Article/GetPlateType", function (e, s) {
            $("#ArticleType").append(e);

            $("#ArticleType").val('@ViewBag.Article.ArticleType');
        });

        $("#ArticleType").change(function (e) {
            var option = e.target.selectedOptions[0];
            var nodeText = option.value;
            articType = nodeText;
            var optionParent = option.parentElement;
            var fa_nodeText = optionParent.label;
            articPlate = fa_nodeText;
            if (nodeText == "--新增--") {
                var isAdd = false;
                layer.prompt({
                    title: '为板块【' + fa_nodeText + '】 添加新分类',
                    formType: 0, //prompt风格，支持0-2
                    cancel: function (index) {
                        var typevalue = optionParent.children[0].value;
                        $("#ArticleType").val(typevalue);
                        articType = typevalue;
                    }
                }, function (text, index, elem) {
                    optionParent.removeChild(option);
                    var op = document.createElement("option");
                    op.innerHTML = text;
                    optionParent.appendChild(op);
                    var op_add = document.createElement("option");
                    op_add.innerHTML = '--新增--';
                    optionParent.appendChild(op_add);
                    $("#ArticleType").val(text);
                    articType = text;
                    layer.close(index);
                    $.post("/Article/AddPlateType", { PlateName: articPlate, TypeName: text }, function (e, s) {

                    });

                });
            }
        });
        $("#btn_SelectFile").click(function () {
            $('#input_SelectFile').click();

        });
        $("#btn_Save").click(function () {
            var articleTitle = $("#ArticleTitle").val();
            var htmlstr = encodeURIComponent(editor.getValue());
            if (articleTitle != "" && htmlstr != "") {
                var attachments = "";
                var acs = $("#AttachmentList .SP_id")
                for (var i = 0; i < acs.length; i++) {
                    attachments += acs[i].innerHTML + ",";
                }
                var articleData = {};
                articleData.ArticleTitle = articleTitle;
                articleData.ArticlePlate = articPlate;
                articleData.ArticleType = articType;
                articleData.ArticleTags = $("#ArticTypeTags").val();
                articleData.ArticleAttachments = attachments;
                articleData.ArticleHtml = htmlstr;
                articleData.ArticleMarkdown = encodeURIComponent("");
                $.post("/Article/Edit/" + GUID, articleData, function (e, s) {
                    var d = JSON.parse(e);
                    if (d.success == 1) {
                        DraftStatus.innerHTML = "<span>文档于：" + d.UpdateTime + " 保存为草稿</span><a href='/Article/Details/@ViewBag.Article.GUID' target='_blank'> 新页面预览 </a> ";
                        layer.msg("保存成功！");
                    }
                });
            } else {
                layer.msg("文档无标题或者无内容，无法保存！");
            }
        });
        $("#btn_Publish").click(function () {
            var articleTitle = $("#ArticleTitle").val();
            var htmlstr = encodeURIComponent(editor.getValue());
            var isOK = false;
            var acs = $("#AttachmentList .SP_id");
            if (articPlate == "实用工具") {
                if (acs.length != 1) {
                    layer.msg("[实用工具]板块必须有且只有一个附件才可发布!");
                } else {
                    isOK = true;
                }
            } else {
                isOK = true;
            }
            if (isOK) {
                if (articleTitle != "" && htmlstr != "") {
                    var attachments = "";

                    for (var i = 0; i < acs.length; i++) {
                        attachments += acs[i].innerHTML + ",";
                    }

                    var articleData = {};
                    articleData.ArticleTitle = articleTitle;
                    articleData.ArticlePlate = articPlate;
                    articleData.ArticleType = articType;
                    articleData.ArticleTags = $("#ArticTypeTags").val();
                    articleData.ArticleAttachments = attachments;
                    articleData.ArticleHtml = htmlstr;
                    articleData.ArticleMarkdown = encodeURIComponent("");
                    $.post("/Article/Edit/" + GUID, articleData, function (e, s) {
                        var d = JSON.parse(e);
                        if (d.success == 1) {
                            $.post("/Article/Publish", { ArticleID: GUID }, function (e, s) {
                                var d = JSON.parse(e);
                                if (d.Success) {
                                    layer.confirm('发布成功！', {
                                        btn: ['回到首页', '去看看'], //按钮
                                        shade: false //不显示遮罩
                                    }, function () {
                                        window.location.href = "/";
                                    }, function () {
                                        window.location.href = '/Article/Details/' + GUID;
                                    });
                                } else {
                                    layer.msg(d.ErrorMsg);
                                }
                            });
                        }
                    });
                } else {
                    layer.msg("文档无标题或者无内容，无法保存！");
                }
            }
        });
        function UpLoadFileChange(e) {
            layer.load(2);
            $("#AjaxUploadForm").ajaxSubmit({
                type: "post",
                url: "/Upload/Files",
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.success == 1) {
                        var node = document.createElement("div");
                        node.className = "Attachment";
                        node.innerHTML = "<span class='SP_id'>" + d.id + "</span><span class='SP_iconfont'><i class='iconfont'>" + d.fontCode + "</i></span><span class='SP_fileName'><a href='/DownLoad/Attachment/" + d.id + "'  target='_blank'>" + d.fileName + "</a></span><span class='SP_fileType'>" + d.type + "</span><span class='SP_fileLength'>" + d.length + "</span><span class='SP_DeleteBtn btn btn-link' onclick='btn_DeleteAttachment(this);'>删除</span>";
                        $("#AttachmentList").append(node);
                        layer.closeAll();
                    } else {
                        layer.msg(d.message);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.closeAll();
                    layer.alert(XMLHttpRequest.statusText + ":" + XMLHttpRequest.status);
                    console.debug(XMLHttpRequest.responseText);
                }
            });
        }
        //删除附件
        function btn_DeleteAttachment(e) {
            var fileName = e.parentElement.children[2].innerHTML;
            layer.confirm("确定删除附件[" + fileName + "]?", function (index) {
                e.parentElement.parentElement.removeChild(e.parentElement);
                layer.closeAll();
            });

        }
        //自动保存
        setInterval(function () {
            var articleTitle = $("#ArticleTitle").val();
            var htmlstr = encodeURIComponent(editor.getValue());
            if (articleTitle != "" && htmlstr != "") {
                var attachments = "";
                var acs = $("#AttachmentList .SP_id")
                for (var i = 0; i < acs.length; i++) {
                    attachments += acs[i].innerHTML + ",";
                }
                var articleData = {};
                articleData.ArticleTitle = articleTitle;
                articleData.ArticlePlate = articPlate;
                articleData.ArticleType = articType;
                articleData.ArticleTags = $("#ArticTypeTags").val();
                articleData.ArticleAttachments = attachments;
                articleData.ArticleHtml = htmlstr;
                articleData.ArticleMarkdown = encodeURIComponent("");
                $.post("/Article/Edit/" + GUID, articleData, function (e, s) {
                    var d = JSON.parse(e);
                    if (d.success == 1) {
                        DraftStatus.innerHTML = "<span>文档于：" + d.UpdateTime + " 自动保存为草稿</span><a href='/Article/Details/@ViewBag.Article.GUID' target='_blank'> 新页面预览 </a> ";
                    }
                });
            }
        }, 30000);

    </script>
}
